body{
    background-image: url(https://wallpaperset.com/w/full/d/d/a/310796.jpg);
}

div{
    margin-left: 400px;
    margin-right: 400px;
    background-color: wheat;
    border: 5px solid red;
    padding: 2px;
    border-radius: 5px
}

h1{
    text-align: center;
    background-color: none;
}

#thx{
    text-align: center;
    margin-left: 650px;
    margin-right: 650px;
    background-color: blue;
    border: 5px solid cyan;
    border-radius: 5px;
    color: white;
}